.content {
  background-color: #556773;
  min-width: 280px;
  border: 2px solid #1AC6D9;
  border-top-color: #0b2760 !important;
  border-right-color: #81868C !important;
  border-bottom-color: #81868C !important;
  border-left-color: #0b2760 !important;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 4px 0 4px;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px #114BBF;
}

.content .date {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 0.8vw;
  text-shadow: 1px 1px 1px #114BBF;
}

.content ul {
  list-style-type: none;
  padding: 0 20px 0 20px;
}

.content ul li:before {
  content: "\27a3\00a0\00a0\00a0";
  color: #fae93f;
  text-shadow: 1px 1px 1px #114BBF;
}

.content ul li {
}

.content hr {
    position: relative;
    border: none;
    height: 2px;
    width: 80%;
    margin: 0 auto;
}

hr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #7A4AB0, #a686ca);
    text-align: center;
}

.content .float-right {
  float: right;
}

.content .float-left {
  float: left;
}

.footnote {
  font-size: x-small;
}

.content pre {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre;
  word-wrap: normal;
}
