.content {
  background-color: gray;
  min-width: 280px;
  border: 2px solid #a686ca;
  border-top-color: #3d2558 !important;
  border-left-color: #3d2558 !important;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 4px 0 4px;
  position: relative;
  color: black;
  text-shadow: 2px 2px 2px #a38a6e;
}

.content .date {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 0.8vw;
  text-shadow: 1px 1px 1px #a38a6e;
}

.content ul {
  list-style-type: none;
  padding: 0 20px 0 20px;
}

.content ul li:before {
  content: "\27a3\00a0\00a0\00a0";
  color: #fae93f;
  text-shadow: 1px 1px 1px black;
}

.content ul li {
}

.content .float-right {
  float: right;
}

.content .float-left {
  float: left;
}
