body {
  font-family: 'Kavivanar', cursive;
  background-image: url("/img/shed.jpg") !important;
  background-repeat: repeat !important;
  background-attachment: fixed !important;
  background-position: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  color: black;
}

.main {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: #7a4ab0;
  color: gray;
  position: relative;
}

.main h1 {
  font-family: 'BigBlueTermPlus Nerd Font Propo', cursive;
  font-weight: bold;
  color: #e30d3b;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

.main h2 {
  font-family: 'Kavivanar', cursive;
  color: black;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

.main a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #fae93f;
  text-shadow: 1px 1px 1px black;
}

.main a:hover {
  color: #e30d3b;
}

.content {
  width: 60%;
  margin: 0 auto;
  color: black;
  text-shadow: 1px 1px 2px #dab993;
}

.content ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.content ul li {
  display: inline;
  padding: 10px 0;
  margin-right: 40px;
  font-size: larger;
}
