body {
  font-family: 'Kavivanar', cursive;
  background-image: url("/img/shed.jpg") !important;
  background-repeat: repeat !important;
  background-attachment: fixed !important;
  background-position: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  color: black;
  text-align: justify;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #fae93f;
  text-shadow: 1px 1px 1px black;
}

a:hover {
  color: #e30d3b;
}

.main {
  min-width: 300px;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 4px 0 0 0;
  background-color: #7a4ab0;
  color: gray;
  position: relative;
}

.main h1 {
  font-family: 'BigBlueTermPlus Nerd Font Propo', cursive;
  font-weight: bold;
  color: #e30d3b;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

.main h2 {
  font-family: 'Kavivanar', cursive;
  color: black;
  text-align: center;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

.symbol {
  font-family: 'Symbols Nerd Font', 'Times';
}
