.menu {
  margin: 0 auto;
}

.menu ul {
  display: table;
  list-style-type: none;
  padding: 0 25% 0 25%;
}

.menu ul li {
  display: table-cell;
  padding: 0;
  margin: 0;
  font-size: 2vw;
  width: 1%;
}

.menu a {
  background-color: #7b7f86;
  padding: 0 20px 0 20px;
}

.menu a:hover {
  background-color: #7a4ab0;
}
