<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatibile" content="IE=edge"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="language" content="pt-br"/>
    <meta name="description" content="Aprenda desenvolvimento de software do zero."/>
    <meta name="author" content="ℜodrigo Arĥimedeς ℳontegasppα ℭacilhας"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Kavivanar&display=swap"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto&amp;subset=latin-ext"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto:i,bold&amp;subset=latin-ext"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto+Mono"/>
    <title>Dev Dá Certo! 👍</title>
    <link rel="icon" href="/img/favicon.ico"/>
    <link rel="stylesheet" href="/css/fonts.css"/>
    <link rel="stylesheet" href="/css/devdacerto.css"/>
    <link rel="stylesheet" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/content.css"/>
    <link rel="stylesheet" href="/css/logo.css"/>
    <link rel="stylesheet" href="/css/code.css"/>
    <link rel="stylesheet" href="/css/distros.css"/>
    <link rel="stylesheet" href="/css/older.css"/>
    <link rel="stylesheet" href="/css/curves.css"/>
    <script src="/js/htmx.min.js"></script>
  </head>
  <body>
    <center class="menu">
      <ul>
        <li><a target="_blank" href="https://www.youtube.com/@DevDaCerto">
          <spam class="symbol"></spam>/@DevDaCerto
        </a></li>
        <li><a target="_blank" href="https://www.instagram.com/devdacerto/">
          <spam class="symbol"></spam>/devdacerto
        </a></li>
      </ul>
    </center>
    <div class="main">
      <h1>Dev Dá Certo! 👍</h1>
      <img id="logo" src="/img/logo.png" alt="" />

      <div
        id="2023-09-26-love"
        hx-get="/partial/2023-09-26-love.html"
        hx-trigger="load"
        hx-swap="outerHTML">
        <span>LÖVE<br/>
          <small>26 Setembro 2023</small></span>
      </div>

      <div
        id="2023-09-12-git"
        class="older"
        hx-get="/partial/2023-09-12-git.html"
        hx-trigger="click"
        hx-swap="outerHTML">
        <span>Git<br/>
          <small>12 Setembro 2023</small></span>
      </div>

      <div
        id="2023-09-05-java"
        class="older"
        hx-get="/partial/2023-09-05-java.html"
        hx-trigger="click"
        hx-swap="outerHTML">
        <span>Java<br/>
          <small>05 Setembro 2023</small></span>
      </div>

      <div
        id="2023-08-29-tic-80"
        class="older"
        hx-get="/partial/2023-08-29-tic-80.html"
        hx-trigger="click"
        hx-swap="outerHTML">
        <span>TIC-80 Tiny Computer<br/>
          <small>29 Agosto 2023</small></span>
      </div>

      <div
        id="2023-08-15-scratch"
        class="older"
        hx-get="/partial/2023-08-15-scratch.html"
        hx-trigger="click"
        hx-swap="outerHTML">
        <span>Scratch<br/>
          <small>15 Agosto 2023</small></span>
      </div>

      <div
        id="2023-08-08-desvantagens"
        class="older"
        hx-get="/partial/2023-08-08-desvantagens.html"
        hx-trigger="click"
        hx-swap="outerHTML">
        <span>Desvantagens de Python<br/>
          <small>08 Agosto 2023</small></span>
      </div>

      <div
        id="2023-08-01-instalando-python"
        class="older"
        hx-get="/partial/2023-08-01-instalando-python.html"
        hx-trigger="click"
        hx-swap="outerHTML">
        <span>Instalando Python<br/>
          <small>1º Agosto 2023</small></span>
      </div>

      <div
        id="2023-07-25-niveis"
        class="older"
        hx-get="/partial/2023-07-25-niveis.html"
        hx-trigger="click"
        hx-swap="outerHTML">
        <span>Alto Nível vs Baixo Nível<br/>
          <small>25 Julho 2023</small></span>
      </div>

      <div
        id="2023-07-20-sistemas-operacionais"
        class="older"
        hx-get="/partial/2023-07-20-sistemas-operacionais.html"
        hx-trigger="click"
        hx-swap="outerHTML">
        <span>Sistemas Operacionais<br/>
          <small>20 Julho 2023</small></span>
      </div>

      <div
        id="2023-07-11-primeiro-video"
        class="older"
        hx-get="/partial/2023-07-11-primeiro-video.html"
        hx-trigger="click"
        hx-swap="outerHTML">
        <span>Nosso primeiro vídeo está no ar!<br/>
          <small>11 Julho 2023</small></span>
      </div>

      <canvas id="curves"></canvas>
    </div>
  </body>
  <script src="/js/curves.js"></script>
</html>
