<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatibile" content="IE=edge"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="language" content="pt-br"/>
    <meta name="description" content="Aprenda desenvolvimento de software do zero."/>
    <meta name="author" content="ℜodrigo Arĥimedeς ℳontegasppα ℭacilhας"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Kavivanar&display=swap"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto&amp;subset=latin-ext"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto:i,bold&amp;subset=latin-ext"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto+Mono"/>
    <title>Dev Dá Certo! 👍</title>
    <link rel="icon" href="/img/favicon.ico"/>
    <link rel="stylesheet" href="/css/fonts.css"/>
    <link rel="stylesheet" href="/css/devdacerto.css"/>
    <link rel="stylesheet" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/content.css"/>
    <link rel="stylesheet" href="/css/logo.css"/>
    <link rel="stylesheet" href="/css/older.css"/>
    <link rel="stylesheet" href="/css/curves.css"/>
    <script src="/js/htmx.min.js"></script>
  </head>
  <body>
    <center class="menu">
      <ul>
        <li><a target="_blank" href="https://www.youtube.com/@DevDaCerto">
          <spam class="symbol"></spam>/@DevDaCerto
        </a></li>
        <li><a target="_blank" href="https://www.instagram.com/devdacerto/">
          <spam class="symbol"></spam>/devdacerto
        </a></li>
      </ul>
    </center>
    <div class="main">
      <h1>Dev Dá Certo! 👍</h1>
      <img id="logo" src="/img/logo.png" alt="" />

      <div
        hx-get="/partial/0003.html"
        hx-trigger="load"
        hx-swap="outerHTML">
        <span>Sistemas Operacionais</span>
      </div>

      <div
        class="older"
        hx-get="/partial/0002.html"
        hx-trigger="click"
        hx-swap="outerHTML">
        <span>Nosso primeiro vídeo está no ar!</span>
      </div>

      <div
        class="older"
        hx-get="/partial/0001.html"
        hx-trigger="click"
        hx-swap="outerHTML">
        <span>Primeiras postagens.</span>
      </div>

      <canvas id="curves"></canvas>
    </div>
  </body>
  <script src="/js/curves.js"></script>
</html>
