<div class="content">
  <div class="date">10 Julho 2023</div>
  <p>Aprenda desenvolvimento de software do zero.</p>
  <p>Aguarde! Coisas incríveis estão chegando… 🚧👷</p>
</div>
<div class="content">
  <div class="date">10 Julho 2023</div>
  <h2>Em Construção</h2>
  <p>Enquanto isso, que tal dar uma olhada em nossas redes sociais?</p>
  <ul>
    <li><a target="_blank" href="https://www.youtube.com/@DevDaCerto">YouTube</a></li>
    <li><a target="_blank" href="https://www.instagram.com/devdacerto/">Instagram</a></li>
  </ul>
</div>
