<div class="content">
  <div class="date">20 Julho 2023</div>
  <h2>Sistemas Operacionais</h2>
  <p>Oi gente!</p>
  <p>Hoje eu quero trocar uma ideia com vocês sobre
    <strong>sistemas operacionais</strong>.</p>
  <p>Quando você liga seu computador, alguma coisa precisa controlar como
    seu teclado, sua placa de vídeo, seu <em>mouse</em>, memória,
    processador, etc., devem se comportar. O nome do programa que faz isso
    é sistema operacional.</p>
  <p>Um dos primeiros sistemas operacionais – e o mais importante da
    história – foi o <a href="https://unix.org/">Unix</a>, criado na
    década de 1970 no <a href="https://www.belllabs.com/">Bell Labs</a>,
    por <a href="https://computerhistory.org/profile/dennis-ritchie/">Dennis Ritchie</a>
    e <a href="https://computerhistory.org/profile/ken-thompson/">Ken Thompson</a>.</p>
  <p>A partir do Unix, surgiram o
    <a href="https://standards.ieee.org/ieee/1003.1c/1393/">IEEE Std. 1003.1™</a>
    (Posix), que define a interface programática para interagir com
    sistemas operacionais, e o
    <a href="https://refspecs.linuxbase.org/elf/elf.pdf">ELF</a>, formato
    padrão de executáveis.</p>
  <p>Quase todos os sistemas operacionais modernos têm alguma relação com
    o Unix e/ou Posix.</p>

  <h3>Microsoft Windows™ &nbsp;<span class="symbol" style="color: #087cd7; text-shadow: none;"></span></h3>
  <p><a href="http://www.microsoft.com/windows">Windows</a> é muito
    provavelmente o sistema operacional que você está usando agora para
    acessar esta página. Foi criado na década de 1980 pela
    <a href="https://microsoft.com/">Microsoft</a> uma tentativa de
    concorrer com os sistemas operacionais da
    <a href="https://apple.com/">Apple</a>.</p>
  <p>O Windows nasceu como uma interface gráfica sobre o
    <a href="https://github.com/microsoft/ms-dos">MS-DOS</a>. Lá pela
    década de 1990, foi lançada uma versão autônoma do Windows que todos
    conhecem por “série 9x” (Windows 95, Windows 98, Windows 98SE e
    Windows ME).</p>
  <p>Mas o Windows não parou por aí: a Microsoft participava de um projeto
    com a <a href="https://ibm.com">IBM</a> para o desenvolvimento de um
    sistema operacional chamado
    <a href="https://www.os2museum.com/wp/os2-history/os2-warp/">OS/2 Warp</a>.
    A Microsoft se apropriou dos códigos e desenvolveu um novo sistema por
    conta própria, chamado
    <a href="https://microsoft.fandom.com/wiki/Windows_NT">Windows NT</a>,
    que implementa parcialmente o padrão Posix.</p>
  <p>Todas versões posteriores do Windows – NT4, Windows 2000, Windows 2003,
    Windows XP, Windows Vista e Windows 7 em diantes –, com exceção do
    Windows ME, são versões do NT.</p>

  <h3>BSD &nbsp;<span class="symbol" style="color: #b70917; text-shadow: none;">󰣠</span></h3>
  <p>Outro sistema operacional muito importante é o
    <a href="https://www.bsd.org/">BSD</a>, Berkeley Software Distribution,
    criado na <a href="https://www.ucb.com/">Universidade de Berkeley</a>
    a partir dos próprios códigos do Unix.</p>
  <p>Há diversas distribuições do USB, que são “empacotamentos” que
    facilitam a instalação e o uso do sistema por usuários doméstricos,
    no geral gratuitas.</p>
  <p>Algumas distribuições importantes são:</p>
  <ul>
    <li>
      <a href="https://www.freebsd.org/">FreeBSD</a>
      &nbsp;<span class="symbol" style="color: #b70917; text-shadow: none;"></span>
    </li>
    <li>
      <a href="https://www.openbsd.org/">OpenBSD</a>
      &nbsp;<span class="symbol" style="color: #fff692; text-shadow: none;"></span>
    </li>
    <li>
      <a href="https://archiveos.org/386bsd/">386BSD</a>
    </li>
    <li>
      <a href="https://www.dragonflybsd.org/">DragonFly BSD</a>
    </li>
    <li>
      <a =href="https://www.netbsd.org/">NetBSD</a>
    </li>
  </ul>

  <h4>Mach Kernel</h4>
  <p>A partir do BSD, foi criado o
    <a href="https://developer.apple.com/library/archive/documentation/Darwin/Conceptual/KernelProgramming/Mach/Mach.html">Mach Kernel</a>,
    o <em>kernel</em> (cerne do sistema) do
    <a href="https://youtu.be/GrTQOMRt4yw">NeXTStep</a>, da empresa
    <a href="https://www.britannica.com/topic/NeXT-Inc">NeXT</a> de
    <a href="https://www.apple.com/stevejobs/">Steve Jobs</a>, que seria
    adquirida pela Apple na década de 1990.</p>

  <h3>macOS &nbsp;<span class="symbol" style="color: #b5b5b5; text-shadow: none;"></span></h3>
  <p>Os primeiros sistemas operacionais da Apple foram o
    <a href="https://computerhistory.org/blog/the-lisa-apples-most-influential-failure/">Lisa</a>
    e o
    <a href="https://earlymacintosh.org">Mac OS</a>.
  <p>Quando a Apple adquiriu a NeXT e o NeXTStep, a empresa adaptou este
    para rodar em seus computadores MacIntosh, incorporando elementos do
    Mac OS. O novo sistema foi chamado
    <a href="https://guidebookgallery.org/screenshots/macosxpb">OS&nbsp;X</a>.
    Mais tarde o sistema viria a ser renomeado “macOS”.</p>

  <h3>GNU/Linux &nbsp;<span class="symbol" style="color: #000000; text-shadow: none;"></span></h3>
  <p>Na década de 1990, um programador finlandês chamado
    <a href="https://github.com/torvalds">Linus Torvalds</a> estava
    trabalhando numa versão do <a href="https://www.minix3.org">Minix</a>
    que pudesse ser usada em produção, uma vez que o Minix é apenas um
    <em>kernel</em> de estudo e experimentação. O objetivo era usá-lo
    no sistema operacional <a href="https://www.gnu.org/">GNU</a>, da
    <a href="https://www.fsf.org/">Free Software Foundation</a>.</p>
  <p>O <em>kenel</em> recebeu o nome “Linux”, e o sistema operacional GNU
    com esse <em>kernel</em> é chamado “GNU/Linux”.</p>
  <p>Hoje em dia você praticamente não encontra um servidor que não rode
    GNU/Linux, nem um programador sério que não trabalhe com ele.</p>
  <p>Assim como o BSD, o GNU/Linux é distribuído em “distribuições”,
    empacotamentos do sistema que facilitam sua instalação.</p>
  <p>Seria impossível citar <a href="https://distrowatch.com/">todas as
    distribuições</a> num artigo pequeno, mas algumas das mais importantes
    são (em ordem alfabética):</p>
  <ul>
    <li>
      <a href="https://archlinux.org/">Arch Linux</a>
      &nbsp;<span class="symbol" style="color: #1e96d2; text-shadow: none;"></span>
    </li>
    <li>
      <a href="https://www.centos.org/">CentOS</a>
      &nbsp;<span class="symbol" style="color: #96297d; text-shadow: none;"></span>
    </li>
    <li>
      <a href="https://www.debian.org">Debian GNU/Linux</a>
      &nbsp;<span class="symbol" style="color: #d80f56; text-shadow: none;"></span>
    </li>
    <li>
      <a href="https://fedoraproject.org/">Fedora Core</a>
      &nbsp;<span class="symbol" style="color: #0f3266; text-shadow: none;"></span>
    </li>
    <li>
      <a href="https://manjaro.org/">Manjaro</a>
      &nbsp;<span class="symbol" style="color: #3bc161; text-shadow: none;"></span>
    </li>
    <li>
      <a href="https://www.suse.com/">Open SuSE Linux</a>
      &nbsp;<span class="symbol" style="color: #77bc2c; text-shadow: none;"></span>
    </li>
    <li>
      <a href="https://www.redhat.com/en/technologies/linux-platforms/enterprise-linux">RedHat Enterprise Linux</a>
      &nbsp;<span class="symbol" style="color: #cf252c; text-shadow: none;"></span>
    </li>
    <li>
      <a href="http://www.slackware.com/">Slackware</a>
      &nbsp;<span class="symbol" style="color: #38386b; text-shadow: none;"></span>
    </li>
    <li>
      <a href="https://ubuntu.com/">Ubuntu</a>
      &nbsp;<span class="symbol" style="color: #de4d1b; text-shadow: none;"></span>
    </li>
  </ul>

  <center>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/VyovthcTiQc"
      title="Sistemas Operacionais"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </center>
</div>
