<div id="2023-08-15-scratch" class="content">
  <div class="date">15 Agosto 2023</div>
  <img class="float-left" src="/img/cat.png" alt="Scratch Cat" height="108" width="101" />
  <h2>Scratch</h2>
  <p><a target="_blank" href="https://scratch.mit.edu/">Scratch</a> é um sistema de
    aprendizado assistido por computador (<em>Computer-Aided Learning</em>) do
    <a target="_blank" href="https://web.mit.edu/">Instituto de Tecnologia de Massachussetts</a>
    voltado ao ensino de lógica de programação a crianças, adolescentes e jovens,
    mas você pode usar o Scratch para desenvolver e praticar  suas habilidades como
    programador em qualquer idade.</p>
  <p>Para poder usar  o Scratch, você precisa acessar
    <a target="_blank" href="https://scratch.mit.edu/">scratch.mit.edu</a> e criar
    sua conta.  Então já poderá começar a criar seus projetos clicando no <em>link</em>
    <a target="_blank" href="https://scratch.mit.edu/projects/editor/">“Criar” (ou “Create”)</a>.</p>
  <p>Há diversos tutoriais na
    <a target="_blank" href="https://scratch.mit.edu/projects/editor/?tutorial=all">página de tutoriais</a>.
    Você também encontra  muitas coisas legais na
    <a target="_blank" href="https://en.scratch-wiki.info/wiki/"><em>wiki</em></a>
    do projeto.</p>
  <p>Inicialmente Scratch foi construído sobre <a target="_blank" href="https://squeak.org/">Squeak</a>,
    uma versão moderna do original Smalltalk, de propriedade da
    <a target="_blank" href="https://www.disney.com.br">Disney</a>, porém posteriormente
    foi completamente reescrito em Javascript, CSS e HTML5.</p>
  <p>A título de curiosidade, algumas alternativas ao Squeak são
    <a target="_blank" href="https://www.cincomsmalltalk.com/main/products/visualworks/">Cincom VisualWorks</a>,
    <a target="_blank" href="https://pharo.org/">Pharo</a> e
    <a target="_blank" href="https://smalltalk.gnu.org/">GNU Smalltalk</a>.</p>

  <center>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/hl3H2TaHMpo"
      title="Scratch"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </center>

</div>
